
.vertical-line {
    
    height: 30px;
    line-height: 0px; 
    display: inline-block;
    margin: 0 30px; 
    margin-top: 3%;
    margin-bottom: 3%;
}

.vertical_space {
    height: 30px;
    line-height: 0px;
    display: inline-block;
    margin: 0 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 60%;
}

@media screen and (max-width: 1200px) {
    .vertical_space {
        margin-right: 31%; 
    }
}


.vertical {
    height: 30px;
    line-height: 0px; 
    display: inline-block;
    margin: 0 30px; 
}




.logo_place {
    text-align: center;
    margin-left: 5px;
    
}

.f_content p, .f_content img {
    display: inline-block;
    vertical-align: middle; 
    text-align: center;
}


p {
    font-size: 20px;
    font-weight: bold;
}

.p_1 {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 15%;
    text-align: center;
}


.text-left {
    padding-right: 25%; 
}



.centered-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the paragraph */
.centered-paragraph p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}


.container_1 {
    display: flex;
    background-color: hsla(45, 28.57%, 97.25%, 1);
    width: 100%;
    
}



.section_top {
    flex: 1; 
    max-width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    margin: 0; 

}

.image_1{
    max-width: 70%; 
    height: auto; 
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container_2 {
    display: flex;
    background-color: #E9E4DEFF;;
    width: 100%;
}